$even: #e1f2fe;
$odd: #cee1ee;
$text: #0b181e;
$text_input: 1.2rem;
$border: #b2b1cf;
$event: #5ccfe0;
$openH: 35rem;
$openW: 15rem;
$closedH: 3.5rem;
$closedW: 3.5rem;
$attend: #b471db;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  color: $text;
}
html {
  background: #3b4465;
  padding: 30px;
}

.calendar,
.week {
  width: 98%;
  margin: 0 1rem;
  font-size: 13px;
  max-width: 80rem;
  margin-top: 4rem;
}

.calendar {
  border: 0.1rem solid $text;
  transition: all 0.5s ease-in-out;
  border-radius: 0.6rem;
  background-color: $odd;
  display: none;
  .week_full {
    background-color: white;
  }
  .dow {
    background-color: $odd;
    text-align: center;
  }
  tr,
  td {
    border: 0.01rem solid transparent;
    border-left: 0.01rem solid $border;
    border-right: 0.01rem solid $border;
    padding: 0.2rem;
  }

  th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
    border: 0.1rem solid $border;
  }

  ul {
    height: 100%;
    padding: 0.2rem;
    list-style-type: none;
  }
}

.week {
  border: 0.1rem solid $text;
  border-radius: 0.6rem;
  background-color: $odd;

  .this_week {
    font-size: 1.8rem;
    margin: 1rem;
  }
  .arrow {
    text-decoration: none;
    font-size: 1.4rem;

    &:hover {
      color: #17a2b8;
    }
  }
  .dow {
    text-align: center;
  }
  *::-moz-selection {
    background: transparent;
  }
  *::selection {
    background: transparent;
  }
  *::-moz-selection {
    background: transparent;
  }
  *::-moz-selection {
    background: transparent;
  }

  tr,
  td {
    border: 0.01rem solid transparent;
    border-left: 0.01rem solid transparent;
    border-right: 0.01rem solid transparent;
    padding: 0.2rem;
    max-width: 4.2rem;
    min-width: 4rem;
  }
  .event_start {
    text-align: center;
    background-color: $event;
    border-radius: 0.4rem 0.4rem 0 0;
    border-left: 0.1rem solid $text;
    border-right: 0.1rem solid $text;
    border-top: 0.1rem solid $text;

    a {
      color: $text;
      text-decoration: none;
    }
  }
  .attend_start {
    text-align: center;
    background-color: $attend;
    border-radius: 0.4rem 0.4rem 0 0;
    border-left: 0.1rem solid $text;
    border-right: 0.1rem solid $text;
    border-top: 0.1rem solid $text;

    a {
      color: $text;
      text-decoration: none;
    }
  }
  .event_mid {
    text-align: center;
    background-color: $event;
    border-left: 0.1rem solid $text;
    border-right: 0.1rem solid $text;
  }
  .attend_mid {
    text-align: center;
    background-color: $attend;
    border-left: 0.1rem solid $text;
    border-right: 0.1rem solid $text;
  }

  .event_end {
    text-align: center;
    background-color: $event;
    border-radius: 0 0 0.4rem 0.4rem;
    border-left: 0.1rem solid $text;
    border-right: 0.1rem solid $text;
    border-bottom: 0.1rem solid $text;
  }
  .attend_end {
    text-align: center;
    background-color: $attend;
    border-radius: 0 0 0.4rem 0.4rem;
    border-left: 0.1rem solid $text;
    border-right: 0.1rem solid $text;
    border-bottom: 0.1rem solid $text;
  }

  .hour {
    border-left: 0.01rem solid $odd;
    border-right: 0.01rem solid $odd;
    border-radius: none;
  }
  .hour:hover {
    cursor: row-resize;
  }
  .odd {
    background-color: $even;
  }
  .even {
    background-color: white;
  }

  .time {
    text-align: center;
    background-color: $odd;
    width: 5rem;
  }
}

.menu_button {
  position: absolute;
  right: 0;
  z-index: 100000000;
  top: 1rem;
  position: absolute;
  width: 5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  right: 0rem;
  border-radius: 0.6rem 0 0 0.6rem;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
  z-index: 100000000;
  font-size: 1.8rem;
  i {
    color: white;
  }
  background-color: lightslategray;
  a {
    margin: 1rem 0;

    color: $text;
    text-decoration: none;
  }
  a:hover {
    color: $event;
  }
}
.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow: hidden;
  right: 0rem;
  padding: 1rem 0;
  top: 1rem;
  background-color: lightslategray;
  border-radius: 0.6rem 0 0 0.6rem;
  transition: 0.5s;
  z-index: 1000000;
  * {
    white-space: nowrap;
  }

  a {
    margin: 1rem 2rem;
    color: white;
    text-decoration: none;
  }
  i {
    color: white;
  }
  a:hover {
    color: $event;
  }
}

#form_pop_up {
  background-color: $event;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
  position: absolute;
  height: $closedH;
  width: $closedW;
  display: flex;
  flex-direction: column;
  line-height: 0;
  overflow: hidden;
  border-radius: 0.6rem 0 0.6rem 0;
  border: 0.1rem solid $text;
  margin: 0 1rem;
  padding: 1rem;
  select,
  input {
    font-size: $text_input;
  }
  textarea,
  input,
  input[type="datetime-local"] {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  i {
    margin-bottom: 1rem;
    text-align: center;
    font-size: $text_input;
  }
  a {
    text-align: center;
    font-size: 2.4rem;
  }

  select,
  a,
  button,
  input {
    height: 1.6rem;

    margin-bottom: 1rem;
  }
}

.btn-login {
  margin-left: 88%;
  margin-top: 30px;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  color: #245b6f;
  background: #d7e7f1;
  transform: translateX(-30%);
}

.forms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  overflow: hidden;
  min-width: 260px;
  margin-top: 50px;
  padding: 25px 30px;
  border-radius: 10px;
  transform-origin: top;
  background-color: #d7e7f1;
}

.event-button {
  width: 250px;
  margin-left: 40%;
  padding: 20px;
  font-family: sans-serif;
  font-size: 12pt;
  background-color: #a7e245;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.dropdown {
  width: 155px;
  padding: 8px 0px;
  border-radius: 5px;
  border: none;
}

.input-block {
  width: 185px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: gray;
}

.event-header {
  margin-bottom: 30px;
  text-align: center;
}
#show_cal {
  background-color: lightslategray;
  border: 0.1rem solid $text;
  color: white;
  padding: 1rem;
  position: relative;
  top: 1rem;
  left: 1rem;
  border-radius: 0 0 0.6rem 0.6rem;

  i {
    color: white;
  }
}
