* {
  list-style-type: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.calendar,
.week {
  width: 98%;
  margin: auto;
  font-size: 13px;
}

.week tr,
.week td,
.calendar tr,
.calendar td {
  border: 1px solid gainsboro;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0.2rem;
}
.time {
  font-size: 0.6rem;
}

a {
  color: #17a2b8;
}
table,
td {
  border: 0.2rem solid gainsboro;
}
td {
  width: 14vw;
}
.week .hour {
  height: 1.2rem;
}
.event {
  background-color: lightblue;
}
