[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.3.1"
bcrypt = "==3.2.0"
certifi = "==2020.12.5"
cffi = "==1.14.5"
chardet = "==4.0.0"
idna = "==2.10"
pycparser = "==2.20"
pytz = "==2021.1"
requests = "==2.25.1"
six = "==1.15.0"
sqlparse = "==0.4.1"
urllib3 = "==1.26.3"
Django = "==3.1.7"
python-dotenv = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.9"
