<!DOCTYPE html>
<html lang="en">

<head>
  {% load static%}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>

<body>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %} {%if edit%}
  <form action="/process_edit" method="POST">
    {% csrf_token %}
    <input type="text" placeholder="Title" name="title" value="{{event.title}}" />
    <input type="text" placeholder="Description" name="desc" value="{{event.desc}}" />
    <input type="datetime-local" id="start" placeholder="YYYY-MM-DD HH:MM" name="start_time" value="{{start}}" />
    <input type="datetime-local" id="end" placeholder="YYYY-MM-DD HH:MM" name="end_time" value="{{end}}" />
    <input type="text" placeholder="Address" name="address" value="{{event.address}}" />
    <input type="hidden" name="id" value="{{event.id}}" />
    <select name="public">
      <option value="True">Public</option>
      <option value="Fasle">Private</option>
    </select>
    <input type="submit" />
  </form>
  {%else%}
  <h4>{{event.date}}</h4>
  <h4>{{event.title}}</h4>
  <h4>{{event.desc}}</h4>
  <h4>{{event.start_time}}</h4>
  <h4>{{event.end_time}}</h4>
  <h4>{{event.address}}</h4>

  <hr />
  <h4>
    Created by:
    <a href="{% url 'viewProfile' event.created_by.id %}">{{ event.created_by.first_name }} {{ event.created_by.last_name }}</a>
  </h4>
  <h5>Invitees</h5>
  {% if event.invitees.all %}
  <ul>
    {% for invitee in event.invitees.all %}
    <li>
      <a href="{% url 'viewProfile' invitee.id %}">{{ invitee.first_name }} {{ invitee.last_name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <hr />

  <!-- EVENT DELETION NEEDS TO GO THROUGH CONFIRMATION PROCESS! /ew -->
  <h4><a href="{% url 'confirmDelete' event.id %}">Delete Event</a></h4>
  <h4><a href="/edit/{{event.id}}">Edit Event</a></h4>
  {%endif%}
  <div id="map" style="width: 400px; height: 300px"></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibmhleWxhbmQiLCJhIjoiY2toZHI4ZWNqMDgwaTMwczFuNnpvcGFuMiJ9.4LH3G0a18_HQY8t55W83lg';
    var map = new mapboxgl.Map({
      container: 'map',
      center: {{ geo }},
    zoom: 9,
      style: 'mapbox://styles/nheyland/cklx3z8vw5yt717lk0rui6ntl'
      });
    map.on('load', function () {
      var marker = new mapboxgl.Marker({
        color: "#FF0000",
        draggable: true
      }).setLngLat({{ geo }})
      .addTo(map);
      });
  </script>
  {%if weather %}
  <h4>Weather</h4>
  <p>{{weather.dt}}</p>
  <p>Day Temp: {{weather.day_temp}}</p>
  <p>Night Temp: {{weather.night_temp}}</p>
  <p>{{weather.main}}, {{weather.desc}}</p>
  <img src="http://openweathermap.org/img/wn/{{weather.icon}}.png" />
  {%endif%}
  <!-- YOU DON'T GET TO ADD A FRIEND TO THIS IF YOU'RE NOT THE PERSON WHO CREATED THE EVENT. -->
  {% if event.created_by.id == request.session.user_id %}
  <!-- PLACING SOCIAL PIECES OF THE PLANNER DOWN HERE FOR NOW. FRONT-END/LEAD CAN MOVE TO WHERE EVER. /ew -->
  <h2>Invite A Friend!</h2>
  {% if obligation %}
  <p>{{obligation}}</p>
  {% endif %}

  {% if event.created_by.friends.all %}
  <form action="{% url 'inviteToEvent' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="eventURL" value="{% url 'eventDetail' event.id %}" />
    <input type="hidden" name="eventID" value="{{ event.id }}" />
    <select name="addFriend" id="addFriend">
      <option selected>PICK A FRIEND!</option>
      {% for friend in event.created_by.friends.all %}
      <option value="{{ friend.id }}">{{ friend.first_name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Add Friend!" />
  </form>
  {% endif %}
  <h2>Search For Friends</h2>
  <h4>
    Check and see if your friend is on MyWeek by searching the database!
  </h4>
  <form id="friendSearch" action="{% url 'friendSearch' %}" method="GET">
    <label for="byName">Search By Name</label>
    <input type="text" name="firstName" id="byName" placeholder="First Name" />
    <input type="text" name="lastName" id="byName" placeholder="Last Name" />
    <label for="byEmail">Search By Email Address</label>
    <input type="text" name="emailAddress" id="byEmail" />
    <input type="reset" value="Reset Form" />
    <input type="submit" value="Search" />
  </form>
  <div id="friendZone"></div>
  <hr />
  <h3>Is your friend not a member of MyWeek?</h3>
  <p>
    No big deal! Send him an invite to join! Don't worry, we won't keep the
    email address or send spam!
  </p>
  <form action="{% url 'inviteFriend' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="eventURL" value="{% url 'eventDetail' event.id %}" />
    <label for="invitee_name">Friend's Name:</label>
    <input type="text" name="invitee_name" id="invitee_name" />
    <label for="invitee_email">Friend's Email:</label>
    <input type="email" name="invitee_email" id="invitee_email" />
    <input type="submit" value="Invite A Buddy!" />
  </form>
  {% endif %}

  <!-- ADD THE FRIEND SEARCH RESULTS INTO THE PAGE W/O REFRESHING PAGE. -->
  <script>
    $("#friendSearch").submit(function (e) {
      e.preventDefault();
      $.ajax({
        url: '{% url "friendSearch" %}',
        method: "get",
        data: $(this).serialize(),
        success: function (serverResponse) {
          $("#friendZone").html(serverResponse);
          $("#friendSearch").trigger("reset");
        },
      });
    });
  </script>
</body>

</html>