<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <title>Document</title>

</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {%if edit%}
    <form action="/process_edit" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Title" name="title" value="{{event.title}}">
        <input type="text" placeholder="Description" name="desc" value="{{event.desc}}">
        <input type="datetime-local" id='start' placeholder="YYYY-MM-DD HH:MM" name="start_time" value="{{start}}">
        <input type="datetime-local" id='end' placeholder="YYYY-MM-DD HH:MM" name="end_time" value="{{end}}">
        <input type="text" placeholder="Address" name="address" value="{{event.address}}">
        <input type="hidden" name="id" value={{event.id}}>
        <select name="public">
            <option value="True">Public</option>
            <option value="Fasle">Private</option>
        </select>
        <input type="submit">

    </form>
    {%else%}
    <h4>{{event.date}}</h4>
    <h4>{{event.title}}</h4>
    <h4>{{event.desc}}</h4>
    <h4>{{event.start_time}}</h4>
    <h4>{{event.end_time}}</h4>
    <h4>{{event.address}}</h4>

    <h4><a href="/delete/{{event.id}}">Delete Event</a></h4>
    <h4><a href="/edit/{{event.id}}">Edit Event</a></h4>
    {%endif%}
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibmhleWxhbmQiLCJhIjoiY2toZHI4ZWNqMDgwaTMwczFuNnpvcGFuMiJ9.4LH3G0a18_HQY8t55W83lg';
        var map = new mapboxgl.Map({
            container: 'map',
            center: {{ geo }},
        zoom: 9,
            style: 'mapbox://styles/mapbox/streets-v11'
        });
        map.on('load', function () {
            var marker = new mapboxgl.Marker({
                color: "#FF0000",
                draggable: true
            }).setLngLat({{ geo }})
            .addTo(map);
        });
    </script>
</body>

</html>