<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script defer type="text/javascript" src="{% static 'js/schedule.js' %}"></script>
    <script defer type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>My Planner</title>
    <script>window.onload = function () {
            document.getElementById('calendar').style.display = 'block';
            document.getElementById('calendar').style.opacity = '0';
            document.getElementById('show_cal').style.transition = 'background-color 0.5s';
        }
    </script>
</head>

<body>
    <section class="container">
        <h1 class="section-title">Social Calendar</h1>
        <div id="menu_button" class="menu_button" onclick="javascript:sidebar_open(true);">
            <a class="" href="javascript:sidebar_open(true);"><i class="fas fa-compass"></i></a>
        </div>
        <div id='sidebar' class="sidebar">
            <a href="/planner/0"><i class="fas fa-calendar-alt"></i> My Schedule</a>
            <a href="/u/profile/{{user.id}}/"><i class="fas fa-user"></i> My Profile</a>
            <a href="/explore/"><i class="fas fa-globe-americas"></i> Explore</a>
            <a href="/kill/"><i class="fas fa-door-open"></i> Logout</a>
        </div>
        <div class="planner">
            <div class="pop_up_form">
                <form id="form_pop_up" action="/create_event/" method="POST">
                    {% csrf_token %}
                    <a href="javascript:;"><i id="rotate" onclick="javascript:form_pop_up(true);" class="fas fa-plus"></i></a>
                    <br>
                    <input type="text" placeholder="Title" name="title">
                    <textarea type="text" placeholder="Description" rows="10" name="desc"></textarea>
                    <input type="datetime-local" required id='start' placeholder="YYYY-MM-DD HH:MM" name="start_time">
                    <input type="datetime-local" required id='end' placeholder="YYYY-MM-DD HH:MM" name="end_time">
                    <input type="text" placeholder="Address" name="address">
                    <select name="public">
                        <option value="True">Public</option>
                        <option value="False">Private</option>
                    </select>
                    <button>Submit</button>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </form>
            </div>
            {{week | safe }}
        </div>
        {{cal | safe}}
        <a id='show_cal' href="javascript:;" onclick="show()"><i class="fas fa-calendar-alt"></i></a>
    </section>
</body>

</html>