<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <h4>Viewing {{today}}</h4>

    <a href="/kill/">Logout</a>
    <form action="/create_event/" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Title" name="title">
        <input type="text" placeholder="Description" name="desc">
        <input type="datetime-local" id='start' placeholder="YYYY-MM-DD HH:MM" name="start_time">
        <input type="datetime-local" placeholder="YYYY-MM-DD HH:MM" name="end_time">
        <input type="text" placeholder="Adress" name="address">
        <select name="public">
            <option value="True">Public</option>
            <option value="Fasle">Private</option>
        </select>
        <input type="submit">

    </form>
    {{week | safe }}
    {{cal | safe}}
    <script>
        function create(start, end) {
            const y = document.getElementById('start')
            if (/Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor)) {
                var start = start.replace(/\s/g, ' ');
                y.setAttribute('value', start)


            } else {
                y.setAttribute('value', start)
            }
        }

        window.addEventListener("click", function (event) {
            if (event.target.parentNode.parentNode.parentNode.className == 'week') {

                create(event.target.id)

            }
        });

    </script>

</body>

</html>