<!DOCTYPE html>
<html lang="en">
{% load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/social_style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <title>Editing {{user.first_name}}'s Profile</title>
</head>

<body>
    <div id="menu_button" class="menu_button" onclick="javascript:sidebar_open(true);">
        <a class="" href="javascript:sidebar_open(true);"><i class="fas fa-compass"></i></a>
    </div>
    <div id='sidebar' class="sidebar">
        <a href="/planner/0"><i class="fas fa-calendar-alt"></i> My Schedule</a>
        <a href="/u/profile/{{user.id}}/"><i class="fas fa-user"></i> My Profile</a>
        <a href="/explore/"><i class="fas fa-globe-americas"></i> Explore</a>
        <a href="/kill/"><i class="fas fa-door-open"></i> Logout</a>
    </div>
    <div class="container">
        <h1>Edit Profile</h1>
        <div class="profile">
            <form action="{% url 'editProfile' user.id %}" method="POST">
                {% csrf_token %}
                <div class="left">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="input" value="{{ user.first_name }}"><br>
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="input" value="{{ user.last_name }}"><br>
                </div>
                <div class="right">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="input" value="{{ user.email }}"><br>
                    <label for="phone">Phone #</label>
                    <input type="text" name="phone" id="phone" class="input" aria-describedby="phonehelp" value="{{ user.phone }}" maxlength="12"><br>
                    <small id="phonehelp">Phone Number should be formatted 2065555555, no () or -, just numbers. US/Canada ONLY. If you want to remove your
                        phone number, just replace yours with all 0s.
                    </small>
                </div>
                <input type="submit" class="button" value="Update Your Info">
            </form>
        </div>
    </div>
</body>

</html>