<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ viewUser.first_name }}'s Profile</title>
</head>
<body>
    <h1>{{ viewUser.first_name }}'s Profile</h1>

    <h2>List of friends!</h2>
    {% if currentUser.id != viewUser.id %}
    <form action="{% url 'addFriend' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="friendID" value="{{ viewUser.id }}">
        <input type="submit" value="ADD FRIEND">
    </form>
    {% endif %}
    <ul>
        {% for friend in viewUser.friends.all %}
            <li>{{ friend.first_name }} {{ friend.last_name }}</li>
        {% endfor %}
    </ul>
</body>
</html>